$color_1: #191827;
$color_2: teal;
$color_3: maroon;
$font-family_1: Inter;
$background-color_1: aliceblue;
$background-color_2: #191827;
$background-color_3: transparent;
$background-color_4: darkcyan;
$background-color_5: rgb(198, 206, 213);

/*MAIN TITLE*/
/* Grow Rotate */
/*MAIN CONTAINER*/
/*TABLE*/
/*Table elements*/
/*Sorting button*/
/*Button to remove rows*/
/*Form to add new data to DB*/
#app {
  font-family: $font-family_1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $color_1;
  margin-top: 60px;
  padding: 50px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  font-family: $font-family_1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./darth_vader_armor_star_wars_film_hat_snow_93645_1920x1080.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: saturation rgb(0, 0, 0, 2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

  h3 {
    font-size: 3rem;
    color: $color_1;
    -webkit-text-fill-color: darkcyan;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: aliceblue;
    cursor: default;
  }
}

h3 {
  &:hover {
    transform: rotate(180 deg);
  }
}

.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;

  &:hover {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
  }

  &:focus {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
  }

  &:active {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
  }
}

.table {
  width: 800px;
  height: fit-content;

  th {
    background-color: $background-color_1;
    border: darkcyan 3px solid;
    font-size: 1.4rem;
    padding: 8px;
    color: $color_1;
    border-radius: 5px;
    cursor: default;
  }

  td {
    font-size: 1.2rem;
    padding: 4px 25px;
    color: $color_2;
    cursor: default;
  }

  td:hover{
   background-color: #423f66;
  }
}

tbody {
  background-color: $background-color_2;
  height: fit-content;
}

#desc {
  align-self: center;
  width: fit-content;
  height: 35px;
  cursor: pointer;
  font-size: 1.4rem;
  background-color: $background-color_1;
  border-radius: 5px;
  position: absolute;
  margin-left: 312px;
  margin-top: 8px;
}

.btn-default {
  background-color: $background-color_3;
  color: $color_3;
  cursor: pointer;
  border: transparent;
  font-size: 1.2rem;
}

#newData {
  border: aliceblue 2px solid;
  align-items: center;
  display: flex;
  gap: 20px;
  width: 750px;
  background-color: $background-color_4;
  padding: 20px;

  input {
    width: 200px;

    &:hover {
      border: #191827 2px solid;
    }
  }

  p {
    color: $color_1;
    font-size: 1.2rem;
    cursor: default;
  }
}

#submit {
  width: 100px !important;
  padding: 4px;
  border: #191827 2px solid;
  border-radius: 5px;
  cursor: pointer;
  color: $color_1;
  background-color: $background-color_1;

  &:hover {
    background-color: $background-color_5;
  }
}

/*FOOTER*/
footer{
  width: 100%;
  text-align: center;
  display: inline;
}

.footer {
  cursor: default;
  border-top: 2px solid darkcyan;
  margin-top: 150px;
  width: 100%;
  background-color: #191827;
  height: 100px;
  color: aliceblue;
  font-size: 1.4rem;

  p{
    vertical-align: middle;
    margin-top: 40px;
  }
}