#app {
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #191827;
  margin-top: 60px;
}


tbody{

  background-color: aquamarine;
}


